{% extends 'base.html.twig' %}

{% block style %}.text-rotation {
    display: block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    }
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                {{ html_adm_menu|raw }}
            </div>
            <div class="span9">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="hero-unit">
                            <h4>{{ MyClassicRiskFormulaIs }}:</h4>

                            <form name="risk_levels" method="post" action="">
                                <p><{{ RISK }}
                                    = {{ dd_risk_models|raw }}</p>



                                <p><{{ IConsiderHighRiskToBeAnythingGreaterThan }}:
                                    <input type="text" name="high" size="2"
                                           value="{{ rs_lv_2 }}"/></p>

                                <p><{{ IConsiderMediumRiskToBeLessThanAboveButGreaterThan }}
                                    : <input type="text" name="medium" size="2"
                                             value="{{ rs_lv_1 }}"/></p>

                                <p>{{ IConsiderlowRiskToBeLessThanAboveButGreaterThan }}
                                    : <input type="text" name="low" size="2"
                                             value="{{ rs_lv_0 }}"/></p>

                                <input type="submit" value="{{ Update }}"
                                       name="update_risk_levels"/>

                            </form>

                            {{ tb_risk|raw }}

                            <?php echo "<p><font size=\"1\">* {{ AllRiskScoresAreAdjusted }}</font></p>"; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}