{% extends 'base.html.twig' %}

{% block style %}.text-rotation {
    display: block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    }
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                {{ html_adm_menu|raw }}
            </div>
            <div class="span9">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="hero-unit">
                            <form name="review_settings" method="post" action="">



                                <p>{{ IWantToReviewHighRiskEvery }} <input
                                            type="text" name="high" size="2"
                                            value="{{ rv_lv_0 }}"/> {{ days }}
                                    .</p>

                                <p>{{ IWantToReviewMediumRiskEvery }} <input
                                            type="text" name="medium" size="2"
                                            value="{{ rv_lv_1 }}"/> {{ days }}
                                    .</p>

                                <p>{{ IWantToReviewLowRiskEvery }} <input
                                            type="text" name="low" size="2"
                                            value="{{ rv_lv_2 }}"/> {{ days }}
                                    .</p>

                                <input type="submit" value="{{ Update }}"
                                       name="update_review_settings"/>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}