{% extends 'base.html.twig' %}


{% block javascript %}
    function handleSelection(choice) {
    if (choice == "1") {
    document.getElementById("simplerisk").style.display = "";
    }
    if (choice == "2") {
    document.getElementById("simplerisk").style.display = "none";
    }
    }
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                {{ html_adm_menu|raw }}
            </div>
            <div class="span9">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="hero-unit">
                            <form name="add_user" method="post" action="">
                                <p>
                                <h4>{{ AddANewUser }}:</h4>
                                {{ Type }}: <select name="type" id="select" onChange="handleSelection(value)">
                                    <option selected value="1">LessRisk</option>
                                {{ cauth_extra|raw }}

                                </select><br/>
                                {{ FullName }}: <input name="name" type="text"
                                                                                               maxlength="50"
                                                                                               size="20"/><br/>
                                {{ EmailAddress }}: <input name="email" type="text"
                                                                                                   maxlength="200"
                                                                                                   size="20"/><br/>
                                {{ Username }}: <input name="new_user" type="text"
                                                                                               maxlength="20"
                                                                                               size="20"/><br/>

                                <div id="simplerisk">
                                    {{ Password }}: <input name="password"
                                                                                                   type="password"
                                                                                                   maxlength="50" size="20"
                                                                                                   autocomplete="off"/><br/>
                                    {{ RepeatPassword }}: <input
                                            name="repeat_password" type="password" maxlength="50" size="20" autocomplete="off"/><br/>
                                </div>
                                <h6><u>{{ Teams }}</u></h6>
                                {{ dd_team|raw }}

                                <h6><u><?php echo $escaper->escapeHtml($lang['UserResponsibilities']); ?></u></h6>
                                <ul>
                                    <li><input name="submit_risks"
                                               type="checkbox"/>&nbsp;{{ AbleToSubmitNewRisks }}
                                    </li>
                                    <li><input name="modify_risks"
                                               type="checkbox"/>&nbsp;{{ AbleToModifyExistingRisks }}
                                    </li>
                                    <li><input name="close_risks"
                                               type="checkbox"/>&nbsp;{{ AbleToCloseRisks }}
                                    </li>
                                    <li><input name="plan_mitigations"
                                               type="checkbox"/>&nbsp;{{ AbleToPlanMitigations }}
                                    </li>
                                    <li><input name="review_low"
                                               type="checkbox"/>&nbsp;{{ AbleToReviewLowRisks }}
                                    </li>
                                    <li><input name="review_medium"
                                               type="checkbox"/>&nbsp;{{ AbleToReviewMediumRisks }}
                                    </li>
                                    <li><input name="review_high"
                                               type="checkbox"/>&nbsp;{{ AbleToReviewHighRisks }}
                                    </li>
                                    <li><input name="admin"
                                               type="checkbox"/>&nbsp;{{ AllowAccessToConfigureMenu }}
                                    </li>
                                </ul>
                                <h6><u>{{ MultiFactorAuthentication }}</u></h6>
                                <input type="radio" name="multi_factor" value="1"
                                       checked/>&nbsp;{{ None }}<br/>

                                {{ html_mma|raw }}

                                <input type="submit" value="{{ Add }}"
                                       name="add_user"/><br/>
                                </p>
                            </form>
                        </div>

                        <div class="hero-unit">
                            <form name="select_user" method="post" action="view_user_details.php">
                                <p>
                                <h4>{{ ViewDetailsForUser }}:</h4>
                                {{ DetailsForUser }} {{ dd_user|raw }}
                                &nbsp;&nbsp;<input type="submit"
                                                   value="{{ Select }}"
                                                   name="select_user"/>
                                </p>
                            </form>
                        </div>
                        <div class="hero-unit">
                            <form name="enable_disable_user" method="post" action="">
                                <p>
                                <h4>{{ EnableAndDisableUsers }}:</h4>
                                {{ EnableAndDisableUsersHelp }}.
                                </p>
                                <p>
                                    {{ DisableUser }} {{ dd_enabled_users|raw }}
                                    &nbsp;&nbsp;<input type="submit"
                                                       value="{{ Disable }}"
                                                       name="disable_user"/>
                                </p>

                                <p>
                                    {{ EnableUser }} {{ dd_disabled_users|raw }}
                                    &nbsp;&nbsp;<input type="submit"
                                                       value="{{ Enable }}"
                                                       name="enable_user"/>
                                </p>
                            </form>
                        </div>
                        <div class="hero-unit">
                            <form name="delete_user" method="post" action="">
                                <p>
                                <h4>{{ DeleteAnExistingUser }}:</h4>
                                {{ DeleteCurrentUser }} {{ dd_user|raw }}
                                &nbsp;&nbsp;<input type="submit"
                                                   value="{{ Delete }}"
                                                   name="delete_user"/>
                                </p>
                            </form>
                        </div>
                        <div class="hero-unit">
                            <form name="password_reset" method="post" action="">
                                <p>
                                <h4>{{ PasswordReset }}:</h4>
                                {{ SendPasswordResetEmailForUser }} {{ dd_user|raw }}
                                &nbsp;&nbsp;<input type="submit" value="{{ Send }}"
                                                   name="password_reset"/>
                                </p>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}