{% extends 'base.html.twig' %}

{% block style %}.text-rotation {
    display: block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    }
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                {{ html_adm_menu|raw }}
            </div>
            <div class="span9">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="hero-unit">
                            <form name="category" method="post" action="">
                                <p>
                                <h4>{{ Category }}:</h4>
                                {{ AddNewCategoryNamed }} <input name="new_category"
                                         type="text"
                                         maxlength="50"
                                         size="20"/>&nbsp;&nbsp;<input
                                        type="submit" value="{{ Add }}"
                                        name="add_category"/><br/>
                                {{ DeleteCurrentCategoryNamed }} {{ dd_category|raw }}
                                &nbsp;&nbsp;<input type="submit"
                                                   value="{{ Delete }}"
                                                   name="delete_category"/>
                                </p>
                            </form>
                        </div>
                        <div class="hero-unit">
                            <form name="team" method="post" action="">
                                <p>
                                <h4>{{ Team}}:</h4>
                                {{ AddNewTeamNamed }} <input name="new_team"
                                                             type="text"
                                                             maxlength="50"
                                                             size="20"/>&nbsp;&nbsp;<input
                                        type="submit" value="{{ Add }}"
                                        name="add_team"/><br/>
                                {{ DeleteCurrentTeamNamed }} {{ dd_team|raw }}
                                &nbsp;&nbsp;<input type="submit"
                                                   value="{{ Delete }}"
                                                   name="delete_team"/>
                                </p>
                            </form>
                        </div>
                        <div class="hero-unit">
                            <form name="technology" method="post" action="">
                                <p>
                                <h4>{{ Technology }}:</h4>
                                {{ AddNewTechnologyNamed }} <input
                                        name="new_technology" type="text" maxlength="50" size="20"/>&nbsp;&nbsp;<input
                                        type="submit" value="{{ Add }}"
                                        name="add_technology"/><br/>
                                {{ DeleteCurrentTechnologyNamed }} {{ dd_technology|raw }}
                                &nbsp;&nbsp;<input type="submit"
                                                   value="{{ Delete }}"
                                                   name="delete_technology"/>
                                </p>
                            </form>
                        </div>
                        <div class="hero-unit">
                            <form name="location" method="post" action="">
                                <p>
                                <h4>{{ SiteLocation }}:</h4>
                                {{ AddNewSiteLocationNamed }} <input
                                        name="new_location" type="text" maxlength="100" size="20"/>&nbsp;&nbsp;<input
                                        type="submit" value="{{ Add }}"
                                        name="add_location"/><br/>
                                {{ DeleteCurrentSiteLocationNamed }} {{ dd_location|raw }}
                                &nbsp;&nbsp;<input type="submit"
                                                   value="{{ Delete }}"
                                                   name="delete_location"/>
                                </p>
                            </form>
                        </div>
                        <div class="hero-unit">
                            <form name="regulation" method="post" action="">
                                <p>
                                <h4>{{ ControlRegulation }}:</h4>
                                {{ AddNewControlRegulationNamed }} <input
                                        name="new_regulation" type="text" maxlength="50" size="20"/>&nbsp;&nbsp;<input
                                        type="submit" value="{{ Add }}"
                                        name="add_regulation"/><br/>
                                {{ DeleteCurrentControlRegulationNamed }} {{ dd_regulation|raw }}
                                &nbsp;&nbsp;<input type="submit"
                                                   value="{{ Delete }}"
                                                   name="delete_regulation"/>
                                </p>
                            </form>
                        </div>
                        <div class="hero-unit">
                            <form name="planning_strategy" method="post" action="">
                                <p>
                                <h4>{{ RiskPlanningStrategy }}:</h4>
                                {{ AddNewRiskPlanningStrategyNamed }} <input
                                        name="new_planning_strategy" type="text" maxlength="20" size="20"/>&nbsp;&nbsp;<input
                                        type="submit" value="{{ Add }}"
                                        name="add_planning_strategy"/><br/>
                                {{ DeleteCurrentRiskPlanningStrategyNamed }} {{ dd_planning_strategy|raw }}
                                &nbsp;&nbsp;<input type="submit"
                                                   value="{{ Delete }}"
                                                   name="delete_planning_strategy"/>
                                </p>
                            </form>
                        </div>

                        <div class="hero-unit">
                            <form name="close_reason" method="post" action="">
                                <p>
                                <h4>{{ CloseReason }}:</h4>
                                {{ AddNewCloseReasonNamed }} <input
                                        name="new_close_reason" type="text" maxlength="20" size="20"/>&nbsp;&nbsp;<input
                                        type="submit" value="{{ Add }}"
                                        name="add_close_reason"/><br/>
                                {{ DeleteCurrentCloseReasonNamed }} {{ dd_close_reason|raw }}
                                &nbsp;&nbsp;<input type="submit"
                                                   value="{{ Delete }}"
                                                   name="delete_close_reason"/>
                                </p>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}