<!doctype html>
<html>

<head>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>{% block title %}LessRisk: Open Source Risk Management{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="shortcut icon" href="/webapp/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<!--title>LessRisk:Open Source Risk Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"-->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-responsive.css">
<link rel="stylesheet" href="css/divshot-util.css">
<link rel="stylesheet" href="css/divshot-canvas.css">
<link rel="stylesheet" href="css/display.css">
<div class="navbar">
    {% block navbar %}
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="https://github.com/ffquintella/lessrisk">LessRisk</a>

            <div class="navbar-content">
                <ul class="nav">
                    <li class="active">
                        <a href="index.php">{{ Home }}</a>
                    </li>
                    <li>
                        <a href="management/index.php">{{ RiskManagement }}</a>
                    </li>
                    <li>
                        <a href="reports/index.php">{{ Reporting }}</a>
                    </li>
                    {% if admin %}
                        <li>
                        <a href=\"admin/index.php\"> {{ Configure }}</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>

            {% if session_access %}
            <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{{ session_name }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="account/profile.php"> {{ MyProfile }} </a>
                </li>
                <li>
                    <a href="logout.php">{{ Logout }}</a>
                </li>
                </ul>
            </div>
        {% endif %}

    </div>
</div>
{% endblock %}
</div>
<div class="container-fluid">
    {% block content %}
{% endblock %}
</div>
</body>

</html>