{% extends 'base.html.twig' %}


{% block content %}

<div class="row-fluid">
    <div class="span9">
        <div class="hero-unit">
            <center>
                <img src="images/SimpleRiskLogo.png" style="width:500px;"/>

                <p>Open Source Risk Management.</p>
            </center>
        </div>
    </div>
</div>

{% if session_access_duo %}

<div class="row-fluid">
<div class="span9">
<div class="well">

  {{ duo_value }}

</div>
</div>
</div>

{% elseif not session_access %}


<div class="row-fluid">
    <div class="span9">
        <div class="well">
            <p><label><u>{{ LogInHere }}</u></label></p>
            <form name="authenticate" method="post" action="">
                {{ Username }} <input class="input-medium" name="user" id="user" type="text" /><br />
                {{ Password }} <input class="input-medium" name="pass" id="pass" type="password" autocomplete="off" />
                <label><a href="reset.php">{{ ForgotYourPassword }}</a></label>
                <div class="form-actions">
                <button type="submit" name="submit" class="btn btn-primary">{{ Login }}</button>
                    <input class="btn" value="{{ Reset }}" type="reset" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}