{% extends 'base.html.twig' %}

{% block style %}
    {{ inline_css|raw }}
{% endblock %}

{% block javascript %}
    $(function () {

    {{ inline_js|raw }}

    var $tabs = $("#tabs").tabs();
    var $tab_items = $("ul:first li", $tabs).droppable({
    accept: ".connectedSortable li",
    hoverClass: "ui-state-hover",
    drop: function (event, ui) {
    var $item = $(this);
    var $list = $($item.find("a").attr("href"))
    .find(".connectedSortable");
    ui.draggable.hide("slow", function () {
    $tabs.tabs("option", "active", $tab_items.index($item));
    $(this).appendTo($list).show("slow");
    });
    $list.each(function () {
    // Get the project ID that was just dropped into
    var id = $(this).attr("id");
    var part = id.split("-");
    var project_id = part[1];

    // Get the risk ID that was just dropped
    var dragged_risk_id = $(ui.draggable).attr("id");

    // Risk name to update
    var risk_name = "risk_" + dragged_risk_id;

    // Update the risk input with the proper value
    document.getElementsByName(risk_name)[0].value = project_id;
    });
    }
    });

    var $statustabs = $("#statustabs").tabs();
    var $status_tab_items = $("ul:first li", $statustabs).droppable({
    accept: ".connectedSortable li",
    hoverClass: "ui-state-hover",
    drop: function (event, ui) {
    var $item = $(this);
    var $list = $($item.find("a").attr("href"))
    .find(".connectedSortable");
    ui.draggable.hide("slow", function () {
    $statustabs.tabs("option", "active", $status_tab_items.index($item));
    $(this).appendTo($list).show("slow");
    });
    $list.each(function () {
    // Get the status ID that was just dropped into
    var id = $(this).attr("id");
    var part = id.split("-");
    var project_id = part[1];

    // Get the project ID that was just dropped
    var dragged_project_id = $(ui.draggable).attr("id");

    // Project name to update
    var project_name = "project_" + dragged_project_id;

    // Update the risk input with the proper value
    document.getElementsByName(project_name)[0].value = project_id;
    });
    }
    });

    });


    $(function () {
    $("#prioritize").sortable({
    update: function (event, ui) {
    // Create an array with the new order
    var order = $("#prioritize").sortable('toArray');

    for (var key in order) {
    var val = order[key];
    var part = val.split("_");

    // Update each hidden field used to store the list item position
    document.getElementById("order" + part[1]).value = key;
    }
    }
    });

    $("#prioritize").disableSelection();
    });
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                {% include 'risk_management_menu.html.twig' %}

            </div>
            <div class="span9">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="hero-unit">
                            <h4>1) {{ AddAndRemoveProjects }} </h4>
                            <p>{{ MitigationPlanningHelp }}.</p>

                            <form name="project" method="post" action="">
                                <p>
                                    {{ AddNewProjectNamed }} <input
                                            name="new_project" type="text" maxlength="100" size="20"/>&nbsp;&nbsp;<input
                                            type="submit" value="{{ Add }}"
                                            name="add_project"/><br/>
                                    {{ DeleteCurrentProjectNamed }} {{ projects }}
                                    &nbsp;&nbsp;<input type="submit"
                                                       value="{{ Delete }}"
                                                       name="delete_project"/>
                                </p>
                            </form>
                        </div>

                        <div class="hero-unit">
                            <h4>2) {{ AddUnassignedRisksToProjects }}</h4>

                            <p>{{ AddUnassignedRisksToProjectsHelp }}.</p>
                            {{ rw_project_tabs|raw }}
                        </div>
                        <div class="hero-unit">
                            <h4>3) {{ PrioritizeProjects }}</h4>

                            <p>{{  PrioritizeProjectsHelp }}.</p>
                            {{ rw_project_list|raw }}
                        </div>
                        <div class="hero-unit">
                            <h4>4) {{ DetermineProjectStatus }}</h4>

                            <p>{{ ProjectStatusHelp }}</p>
                            {{ rw_project_status|raw }}
                        </div>

                    </div>
                </div>
            </div>
        </div>


{% endblock %}