{% extends 'base.html.twig' %}

{% block content %}


    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span3">
        {% include 'risk_management_menu.html.twig' %}
    </div>
    <div class="span9">
    <div class="row-fluid">
    <div class="span12">
    <div class="hero-unit">
    <h4>{{ MassSubmit }}</h4>

    <form name="submit_risk" method="post" action="" enctype="multipart/form-data">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="200px">{{ SubjectPrefix }}:</td>
                <td><input maxlength="100" name="subject_prefix" id="subject_prefix" class="input-medium"
                           type="text"></td>
            </tr>
            <tr>
                <td width="200px">{{ ParentRiskID }}
                    :
                </td>
                <td><input maxlength="20" size="20" name="parent_id" id="parent_id"
                           class="input-medium" type="text"></td>
            </tr>

            {% import 'tools_basic_forms.html.twig' as forms %}
            <tr>
                <td width="200px">{{ Formats }}:</td>
                <td>{{ forms.dropdown('importer', ImporterValues ) }}</td>
            </tr>

            <tr>
                <td width="200px">{{ SupportingDocumentation }}</td>
                <td><input type="file" name="file"/></td>
            </tr>
        </table>
        <div class="form-actions">
            <button type="submit" name="submit"
                    class="btn btn-primary">{{ Submit }}</button>
            <input class="btn" value="{{ Reset }}"
                   type="reset">
        </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>


{% endblock %}