{% extends 'base.html.twig' %}

{% block javascript %}
    function showScoreDetails() {
    document.getElementById("scoredetails").style.display = "";
    document.getElementById("hide").style.display = "";
    document.getElementById("show").style.display = "none";
    }

    function hideScoreDetails() {
    document.getElementById("scoredetails").style.display = "none";
    document.getElementById("updatescore").style.display = "none";
    document.getElementById("hide").style.display = "none";
    document.getElementById("show").style.display = "";
    }

    function updateScore() {
    document.getElementById("scoredetails").style.display = "none";
    document.getElementById("updatescore").style.display = "";
    document.getElementById("show").style.display = "none";
    }
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                {% include 'risk_management_menu.html.twig' %}

            </div>
            <div class="span9">
                <div class="row-fluid">
                    <div class="well">
                        {{ tb_top|raw }}
                    </div>
                </div>
                <div class="row-fluid">
                    <div id="scoredetails" class="row-fluid" style="display: none;">
                        <div class="well">
                            {{ tb_scoring|raw }}
                        </div>
                    </div>
                    <div id="updatescore" class="row-fluid" style="display: none;">
                        <div class="well">
                            {{ html_edit_score|raw }}
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <div class="well">
                            <form name="details" method="post" action="" enctype="multipart/form-data">
                                {{ html_risk_details|raw }}
                            </form>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="well">
                            <form name="mitigation" method="post" action="">
                                {{ html_mitigation|raw }}
                            </form>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="well">
                            <form name="review" method="post" action="">
                                {{ html_details|raw }}
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="well">
                        <h4>{{ Comments }}</h4>
                        {{ html_coments|raw }}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="well">
                        <h4>{{ AuditTrail }}></h4>
                        {{ html_audit|raw }}
                    </div>
                </div>

            </div>
        </div>


{% endblock %}