{% extends 'base.html.twig' %}

{% block jsFiles %}
    <script src="../js/sorttable.js"></script>
    <script src="../js/highcharts.js"></script>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                {{ html_reporting_menu|raw }}
            </div>
            <div class="span9">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="well">
                            <h3>{{ TotalOpenRisks }}: {{ html_open|raw }}</h3>
                            <h3>{{ TotalHighRisks }}: {{ html_high|raw }}</h3>
                            <h3>{{ HighRiskPercentage }}: {{ html_percent|raw }}%</h3>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="well">
                            {{ html_risk_level_pie|raw }}
                        </div>
                    </div>
                </div>
                <?php get_risk_table(20); ?>
            </div>
        </div>
    </div>


{% endblock %}